# Database
DB_URL = 

# Mailing
TRANSPONDER_PORT = 
MAIL_USER = 
MAIL_PASS = 

# Location
GEOAPIFY_KEY = 

# Encryption
SECRET_KEY = 
JWT_SECRET = 
JWT_EXPIRATION = 

# Minio
MINIO_BUCKET = 
MINIO_ACCESS_KEY = 
MINIO_SECRET_KEY = 
MINIO_ENDPOINT = 
MINIO_USE_SSL = 

# Server
PORT = 5000
CLIENT_URL = 
SERVER_URL = 

# Limits
UPLOAD_LIMIT = 
ENTRY_LIMIT = 
ENTRY_CONTENT_LIMIT = 

# Mailing
TRANSPONDER_PORT=
MAIL_USER=
MAIL_PASS=